{@ch.hftm.vsblog.web.PostForm postForm}
{#include template.html}
{#contents}
<div class="postdiv container pt-20">
    <h1 class="text-4xl">Neuer Posts</h1>
    <p class="my-2">Los gehts.. schreib was!</p>
    <form action="post" method="POST" name="postForm" up-target=".postdiv">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="titel">
                Titel
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="title" name="title" type="text" placeholder="Titel" required autofocus>
        </div>
        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                Inhalt
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                id="content" name="content" type="text" placeholder="Inhalt" required>
        </div>
        {#if postForm.errorMessage != null}
            <div>
                <p class="text-red-500 text-xs italic">{postForm.errorMessage}</p>
            </div>
        {/if}
        <div class="flex items-center justify-between">
            <button type="submit"
                class="float-right bg-transparent border border-grey text-xs text-grey font-bold py-2 px-4 rounded-full">
                Veröffentlichen
            </button>
        </div>
    </form>
</div>
{/contents}
{/include}