<!DOCTYPE html>
<html>

<head>
    <title>{#insert title}VS Blog{/}</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/unpoly@0.61.1/dist/unpoly.min.js" integrity="sha384-ltoWj6dcj5Xs3SeUWjur2yLXen33knb/S/jjBWlTlzsT5k5WABtMd6ccN076dYOB" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/unpoly@0.61.1/dist/unpoly.min.css" integrity="sha384-Au6LjS9fxDpwn3+26YmukmOumZUmryd8ONenkVIoH4eEPH1tACqLsVfqz9tBrvQy" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Montserrat:wght@100;400;500;600;800&display=swap"
        rel="stylesheet">
    <style>
        html {
            font-family: 'Montserrat', sans-serif !important;
        }

        .logo {
            font-family: 'DM Serif Text', serif;
        }

        .active{
            display: block;
        }
    </style>
</head>

<body>
    <header class="sticky top-0" style="background-color: #f8f8f8;">
        <div class="container w-full mx-auto px-6 py-4">
        <nav class="flex items-center justify-between flex-wrap">
            <div class="flex items-center flex-shrink-0 mr-6">
                <h1 class="logo text-2xl"><a href="index.html">VS Blog</a></h1>
            </div>
            <div class="block lg:hidden">
              <button id="hamburgerbtn" class="flex items-center px-3 py-2 border rounded hover:border-gray-600">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
              </button>
            </div>
            <div id="mobileMenu" class="hidden w-full block flex-grow lg:flex lg:items-center lg:w-auto ">
              <div class="lg:flex-grow">
                {#if inject:loginInfo.loggedIn}<a href="post" class="block mt-4 lg:inline-block lg:mt-0 hover:text-blue-800 mr-4">Write</a>{/if}
                <a href="about" class="block mt-4 lg:inline-block lg:mt-0 hover:text-blue-800 mr-4">About</a>
                {#if inject:loginInfo.loggedIn}<a href="logout" class="block mt-4 lg:inline-block lg:mt-0 hover:text-blue-800 mr-4">Logout</a>{#else}<a href="login" class="block mt-4 lg:inline-block lg:mt-0 hover:text-blue-800 mr-4">Login</a>{/if}
              </div>
              <div>
                <form method="GET" action="/index.html" up-target=".main-content" up-autosubmit>
                  <input type="search" name="searchString" class="shadow appearance-none border rounded py-2 my-2 px-2 text-sm text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="Suchen">
                </form>
              </div>
            </div>
          </nav>
        </div>
    </header>
    <div class="h-64 bg-cover" style="background-image: url('assets/feature.jpg')"></div>
    <div class="main-content container w-full mx-auto px-6">
        {#insert contents}No contents!{/}
    </div>

    <footer style="background-color: #3b3b3b;" class="mt-10 border-t border-grey-light">
            <div class="container w-full mx-auto px-6 py-8">
                <p style="color: #f8f8f8; text-align: right;" class="py-4 text-grey-dark text-sm">
                    &copy; 2020 by Simeon
                </p>
        </div>
    </footer>
    <script>
        up.compiler('#hamburgerbtn', function(btn) {
            let mobileMenu = document.getElementById('mobileMenu');
            btn.addEventListener('click', function () {
                mobileMenu.classList.toggle('active');
            });
        })
    </script>
</body>

</html>