{#include template.html}
{#contents}
<div class="logindiv container pt-20">
    <h1>Login</h1>
    <p class="my-2">Enter your credentials:</p>
    <form action="{uri:Login.login()}" method="POST" name="loginForm" up-target=".logindiv">
        <div class="mb-4">
            <label class="lbl" for="username">
                User
            </label>
            <input class="inp" id="username" name="username" type="text" placeholder="User" required autofocus>
        </div>
        <div class="mb-6">
            <label class="lbl" for="password">
                Password
            </label>
            <input class="inp" id="password" name="password" type="password" placeholder="Password" required>
        </div>
        <div class="flex items-center justify-between">
            <button type="submit" class="float-right btn">
                Enter
            </button>
        </div>
    </form>
</div>
{/contents}
{/include}